#sounds {
  margin: 20px;
  float: left;
}

a.sound {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  margin: 10px;
  position: relative;
}

a.sound.selected {
  background-color: blue;
}

a.sound div.active {
  width: 100%;
  height: 100%;
  background-color: green;
  display: none;
}

a.sound .glyphicon {
  position: absolute;
  padding: 5px;
}
